
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin: 50px 105px;;">
    <h3>Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng trong vài tuần tới. Xin cảm ơn và chúc quý khách một ngày tốt lành!!</h3>
    <hr />
    <h4 style="text-align:center;">
        @Html.ActionLink("VỀ TRANG CHỦ", "Index", "Home")
    </h4>
</div>