
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Login V12</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Asset/ADLogin/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/ADLogin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/ADLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/ADLogin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/ADLogin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/ADLogin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/ADLogin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Asset/ADLogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Asset/ADLogin/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('~/Asset/ADLogin/images/img-01.jpg');">
            <div class="wrap-login100 p-t-190 p-b-30">
                @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
                {
                <form class="login100-form validate-form">
                    @Html.ValidationSummary(true)
                    <div class="login100-form-avatar">
                        <img src="/Asset/images/admin-logo.png" alt="AVATAR">
                    </div>

                    <span class="login100-form-title p-t-20 p-b-45">
                        Welcome to Bitis
                    </span>

                    <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
                        <input class="input100" type="text" required name="AdUsername" placeholder="Username">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                        <input class="input100" type="password" required name="AdPassword" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn p-t-10">
                        <button type="submit" class="btnLogin login100-form-btn" value="Login" >
                            Login
                        </button>
                    </div>

                    <div class="text-center w-full p-t-25 p-b-230">
                        <a href="@Url.Action("RecoverPasswordAdmin","Admin")" class="txt1">
                            Forgot Username / Password?
                        </a>
                    </div>
                </form>
                }
                </div>              
        </div>
    </div>
    <!--===============================================================================================-->
    <script src="~/Asset/ADLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Asset/ADLogin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Asset/ADLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Asset/ADLogin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Asset/ADLogin/js/main.js"></script>

</body>
</html>
