@model IEnumerable<ShoesOnline.Models.loaiSP>
@foreach (var i in Model)
{
    <li><a class="color6" href="@Url.Action("BoyProductsByCollections","BoyProducts", new { id = i.maLoai})">@i.loaiHang</a></li>
}
